---
import Hero from "./Hero.astro";
import AboutSection from "./AboutSection.astro";
---

<section id="home" class="pt-12 md:mt-0 bg-fondo-profundo sm:px-28 lg:px-20 px-9">
  <div class="max-w-5xl mx-auto space-y-8 md:py-36 pb-14">
    <Hero />
    <AboutSection />
  </div>
</section>
