---
import ProjectCard from "../ui/ProjectCard.astro";
---

<section id="projects" class="pt-28">
  <div class="container mx-auto px-6 lg:px-0 max-w-6xl">
    <h3 class="text-3xl font-light text-purpura-suave">My work</h3>
    <h2 class="text-5xl font-light leading-16 text-texto-claro-principal mt-3">
      Projects
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 place-items-center mt-8">
      <ProjectCard title="Project Title" state="State" />
      <ProjectCard title="Project Title" state="State" />
      <ProjectCard title="Project Title" state="State" />
      <ProjectCard title="Project Title" state="State" />
    </div>

    <div class="flex justify-center mt-8">
      <a
        class="col-start-1 row-start-1 flex w-[90%] items-stretch gap-4 text-center border border-enlaces-iconos text-enlaces-iconos rounded-full hvr-grow"
        href="https://github.com/Ernesto224"
      >
        <span class="flex flex-1 items-center justify-center self-center p-1"
          >More projects in <i class="icon-[lucide--github] w-10 h-10 ml-2"
          ></i></span
        >
      </a>
    </div>
  </div>
</section>
