---
import HomeSection from "./contents/HomeSection.astro";
import ProjectsSection from "./contents/ProjectsSection.astro";
import ContactSection from "./contents/ContactSection.astro";
---

<main>
  <HomeSection/>
  <ProjectsSection />
  <ContactSection />
</main>
