---
import type { IconButtonProps } from "../../types/types.ts";

const {
  href = "#",
  label = "",
  ariaLabel = label,
} = Astro.props as IconButtonProps;
---

<a
  class="inline-flex items-center justify-center h-12 gap-2 p-1.5 rounded-lg border 
    border-texto-secundario-suave text-texto-secundario-suave 
    hover:bg-fondo-primario-tarjeta hover:text-texto-claro-principal hvr-float"
  href={href}
  aria-label={ariaLabel}
  title={label}
>
  <slot />
</a>
