---
import { getLenguageObject } from "../../utils/LenguageText";

const textItems = getLenguageObject()?.navbar;

const sectionIcons = [
  { href: "#home", icon: "icon-[heroicons--home]" },
  { href: "#projects", icon: "icon-[streamline--projector-board]" },
  { href: "#contact", icon: "icon-[lucide--contact]" },
];

const sectionItems = textItems?.sectionTitles.map((item, index) => ({
  ...item,
  ...sectionIcons[index]
}));
---

<nav
  class="container mx-auto flex justify-center items-center p-3 text-center text-[1.125rem] font-light backdrop-blur-xl border border-cian-resplandor-secundary/0 rounded-full transition-all duration-500 ease-in-out w-[80%]"
>
  <ul
    class="flex w-full justify-between md:space-x-6 md:justify-center md:gap-12 gap-6"
  >
    {
      sectionItems!.map((sectionItems) => (
        <>
          <li class="flex-1 md:flex-none">
            <a
              href={sectionItems.href}
              class="flex items-center gap-2 flex-1 md:flex-none text-texto-claro-principal hover:text-azul-nebulosa focus:text-estado-clic transition-colors duration-200"
            >
              <i class={`flex-shrink-0 w-6 h-6 ${sectionItems.icon}`} />
              <span>{sectionItems.title}</span>
            </a>
          </li>
        </>
      ))
    }
  </ul>
</nav>

<script>
  import { createSectionDetector } from "../../utils/SectionDetector";

  let currentSectionId = "home";
  const nav = document.querySelector("nav");
  const navLinks = nav!.querySelectorAll("a");

  const isActive = (href: string): boolean => {
    return currentSectionId === href;
  };

  const detector = createSectionDetector({
    offset: 80,
    threshold: 0.3,
    onSectionChange: (sectionId) => {
      currentSectionId = sectionId;

      navLinks.forEach((link) => {
        const href = String(link.getAttribute("href")?.replace("#", ""));

        if (isActive(href)) {
          link.classList.remove("text-texto-claro-principal");
          link.classList.add(
            "text-estado-activo",
            "underline",
            "underline-offset-8"
          );
        } else {
          link.classList.remove(
            "text-estado-activo",
            "underline",
            "underline-offset-8"
          );
          link.classList.add("text-texto-claro-principal");
        }
      });
    },
  });
</script>
