<div
  class="fixed backdrop-blur-md md:left-1/2 left-0 top-0 md:-translate-x-1/2 z-[-1] lg:h-screen h-[100vh] lg:w-[80%] w-[100vw]"
>
</div>
<div
  class="fixed md:left-1/2 left-0 top-0 md:-translate-x-1/2 z-[-2] lg:h-screen h-[100vh] lg:w-[80%] w-[100vw] overflow-hidden"
>
  <div class="absolute left-[-59vw] md:top-6 md:h-[80%] h-[100vh] lg:w-[160vw] w-[180vw]">
    <script
      type="module"
      src="https://unpkg.com/@splinetool/viewer@1.12.5/build/spline-viewer.js"
    ></script>
    <spline-viewer
      url="https://prod.spline.design/vuYoYCairGnD5RTr/scene.splinecode"
    ></spline-viewer>
  </div>
</div>
