<div
  class="fixed backdrop-blur-md left-1/2 -translate-x-1/2 z-[-1] h-screen w-[80%]"
>
</div>
<div
  class="fixed left-1/2 -translate-x-1/2 z-[-2] h-screen w-[80%] overflow-hidden"
>
  <div class="absolute left-[-59vw] md:top-6 md:h-[80%] w-[160vw]">
    <script
      type="module"
      src="https://unpkg.com/@splinetool/viewer@1.12.5/build/spline-viewer.js"
    ></script>
    <spline-viewer
      url="https://prod.spline.design/vuYoYCairGnD5RTr/scene.splinecode"
    ></spline-viewer>
  </div>
</div>
